environment:
  matrix:
    - nodejs_version: '10'
    - nodejs_version: '8'
install:
  - ps: Install-Product node $env:nodejs_version
  - npm install -g nyc
  - npm install
test_script:
  - nyc npm test
after_test:
  - npm install -g codecov
  - codecov
build: off
