language: node_js
cache: npm
os:
- linux
- osx
- windows
node_js:
- '10'
- '8'
before_install:
- |
  if [[ $TRAVIS_OS_NAME == windows ]]; then
    git config --global core.autocrlf false
    cd ../..
    mv $TRAVIS_REPO_SLUG _old
    git clone _old $TRAVIS_REPO_SLUG
    cd $TRAVIS_REPO_SLUG
  fi
install:
- npm ci
script:
- npm run build
- NODE_V8_COVERAGE=coverage/tmp npm run lerna:test --parallel
after_success:
- |
  if [[ -d coverage ]]; then
    npm install -g codecov c8
    c8 report
    c8 report --reporter=text-lcov > coverage.lcov
    codecov
  fi
