language: node_js
os:
- linux
- osx
- windows
node_js:
- '10'
before_install:
- |
  if [[ $TRAVIS_OS_NAME == windows ]]; then
    git config --global core.autocrlf false
    cd ../..
    mv $TRAVIS_REPO_SLUG _old
    git clone _old $TRAVIS_REPO_SLUG
    cd $TRAVIS_REPO_SLUG
  fi
install:
- npm install -g nyc @commitlint/travis-cli
- npm ci
script:
- npm test
- git diff --exit-code
- npm run lint
- commitlint-travis
after_success:
- npm install -g codecov
- codecov
- |
  if [[ $TRAVIS_OS_NAME = "linux" && $TRAVIS_NODE_VERSION = "10" ]]; then
    openssl aes-256-cbc -K $encrypted_8f7f9bedd2a5_key -iv $encrypted_8f7f9bedd2a5_iv -in .npmrc.enc -out ~\/.npmrc -d
    export RELEASE_NLIB=true
  fi
deploy:
  matrix:
  - skip_cleanup: true
    provider: script
    script: npx lerna publish from-package --no-git-reset --yes
    on:
      condition: "$RELEASE_NLIB = true"
      repo: nlibjs/nlibjs
      branch: master
      tags: true
  - skip_cleanup: true
    provider: script
    script: npx lerna publish --canary --no-git-reset --yes
    on:
      condition: "$RELEASE_NLIB = true"
      repo: nlibjs/nlibjs
      branch: master
