version: 2
jobs:
  build:
    docker:
      - image: circleci/node:lts
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependencies-{{ checksum "package-lock.json" }}
            - dependencies-
      - run: npm ci
      - save_cache:
          paths:
            - node_modules
          key: dependencies-{{ checksum "package-lock.json" }}
      - run: npm run build
      - run: git diff --exit-code
      - save_cache:
          paths:
            - node_modules
            - packages-hybrid
            - packages-node
          key: source-{{ .Branch }}-{{ .Revision }}
  test:
    docker:
      - image: circleci/node:lts
    steps:
      - checkout
      - restore_cache:
          keys:
            - source-{{ .Branch }}-{{ .Revision }}
            - source-{{ .Branch }}-
            - source-
      - run: sudo npm install -g nyc codecov
      - run: npx npm-run-all --serial lerna:test check-dependencies
      - run: codecov
  lint:
    docker:
      - image: circleci/node:lts
    steps:
      - checkout
      - restore_cache:
          keys:
            - source-{{ .Branch }}-{{ .Revision }}
            - source-{{ .Branch }}-
            - source-
      - run: npm run lint
  commitlint:
    docker:
      - image: circleci/node:lts
    steps:
      - restore_cache:
          keys:
            - source-{{ .Branch }}-{{ .Revision }}
            - source-{{ .Branch }}-
            - source-
      - run: sudo npm install -g @commitlint/travis-cli
      - run: commitlint-travis
  deploy:
    docker:
      - image: circleci/node:lts
    steps:
      - checkout
      - restore_cache:
          keys:
            - source-{{ .Branch }}-{{ .Revision }}
            - source-{{ .Branch }}-
            - source-
      - run: echo "Deploy!"
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - lint:
          requires:
            - build
      - commitlint:
          requires:
            - build
      - deploy:
          requires:
            - test
            - lint
            - commitlint
