version: 2
jobs:
  build:
    docker: [{image: "circleci/node:lts"}]
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependencies-{{ checksum "package-lock.json" }}
            - dependencies-
      - run: npm ci
      - save_cache:
          paths: [node_modules]
          key: dependencies-{{ checksum "package-lock.json" }}
      - run: npm run build
      - run: git diff --exit-code
      - persist_to_workspace: {root: ., paths: [.]}
  test:
    docker: [{image: "circleci/node:lts"}]
    steps:
      - attach_workspace: {at: .}
      - run: npx lerna run test
      - run: npm run check-dependencies
  lint:
    docker: [{image: "circleci/node:lts"}]
    steps:
      - attach_workspace: {at: .}
      - run: npm run lint
  deploy-canary:
    docker: [{image: "circleci/node:lts"}]
    steps:
      - attach_workspace: {at: .}
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      - run: npx lerna publish --canary --no-git-reset --yes
  deploy:
    docker: [{image: "circleci/node:lts"}]
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      - run: npx lerna publish from-package --no-git-reset --yes
  is-tagged:
    docker: [{image: "circleci/node:lts"}]
    steps:
      - run: if [[ -z $CIRCLE_TAG ]]; then exit 1; fi
  on-master-branch:
    docker: [{image: "circleci/node:lts"}]
    steps:
      - run: if [[ $CIRCLE_BRANCH != "master" ]]; then exit 1; fi
  on-develop-branch:
    docker: [{image: "circleci/node:lts"}]
    steps:
      - run: if [[ -z $CIRCLE_BRANCH || $CIRCLE_BRANCH == "master" ]]; then exit 1; fi
workflows:
  version: 2
  run-tests:
    jobs:
      - on-develop-branch:
          filters:
            branches:
              ignore: master
            tags:
              ignore: /.*/
      - build:
          requires:
            - on-develop-branch
      - test:
          requires:
            - build
      - lint:
          requires:
            - build
  canary-release:
    jobs:
      - on-master-branch:
          filters:
            branches:
              only: master
            tags:
              ignore: /.*/
      - build:
          requires:
            - on-master-branch
      - test:
          requires:
            - build
      - lint:
          requires:
            - build
      - deploy-canary:
          requires:
            - test
            - lint
  release:
    jobs:
      - is-tagged:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
      - build:
          requires:
            - is-tagged
      - test:
          requires:
            - build
      - lint:
          requires:
            - build
      - deploy:
          requires:
            - test
            - lint
