version: 2
jobs:
  build:
    docker:
      - image: circleci/node:lts
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependencies-{{ checksum "package-lock.json" }}
            - dependencies-
      - run: npm ci
      - save_cache:
          paths:
            - node_modules
          key: dependencies-{{ checksum "package-lock.json" }}
      - run: npm run build
      - run: git diff --exit-code
      - persist_to_workspace:
          root: .
          paths:
            - .
  test:
    docker:
      - image: circleci/node:lts
    steps:
      - attach_workspace:
          at: .
      - run: npx lerna run test
      - run: npm run check-dependencies
  lint:
    docker:
      - image: circleci/node:lts
    steps:
      - attach_workspace:
          at: .
      - run: npm run lint
  deploy-canary:
    docker:
      - image: circleci/node:lts
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      - run: npx lerna publish --canary --no-git-reset --yes
  deploy:
    docker:
      - image: circleci/node:lts
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      - run: npx lerna publish from-package --no-git-reset --yes
workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - test:
          requires:
            - build
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - lint:
          requires:
            - build
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - deploy-canary:
          requires:
            - test
          filters:
            tags:
              ignore: /^v.*/
            branches:
              only: master
      - deploy:
          requires:
            - test
            - lint
          filters:
            tags:
              only: /^v.*/
            branches:
              only: master
